---
import { Icon } from "astro-icon/components";
---

<a
  class="absolute w-full h-16 bottom-0 justify-center flex"
  href="https://github.com/Rexgio"
>
  <Icon name="mdi:github" width="42" height="42" color="#9777D0" class="mt-2" />
</a>
